body {
  min-width: none;
  min-height: nonepx;
  background-color: rgb(37, 179, 239);
  font: 400 1em/1.38 Oxygen;
  color: rgb(0, 0, 0);
  -webkit-transform: none;
  -moz-transform: none;
  -o-transform: none;
  -ms-transform: none;
  transform: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  -ms-filter: none;
  filter: none;
}

.image {
  display: block;
  position: absolute;
  top: 112px;
  left: 15.9887695312%;
  width: 1306px;
  height: auto;
  overflow: hidden;
}

.text {
  float: left;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
}

/* unvisited link */
a:link {
    color: #FFF;
}

/* visited link */
a:visited {
    color: darkgray;
}

/* selected link */
a:active {
    color: cornsilk;
}

.text-2 p {
  margin-bottom: 1em;
}

._button {
  display: block;
  line-height: 1.38;
  text-align: center;
}

.text-1 {
  position: relative;
  z-index: 6;
  width: 35.3125%;
  min-height: 47px;
  margin: 54px 0 0 35.08708%;
  color: rgb(0, 0, 0);
}

.text-2 {
  clear: both;
  width: 52.8124999999%;
  min-height: 120px;
  margin: 978px 0 0 23.59375%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-3 {
  position: relative;
  clear: both;
  z-index: 14;
  width: 27.1999999999%;
  min-height: 82px;
  margin: 103px 0 0 36.39974%;
  text-align: center;
  color: rgb(0, 0, 0);
}

.text-4 {
  position: relative;
  clear: both;
  z-index: 8;
  width: 25.6249999999%;
  min-height: 50px;
  margin: -118px 0 0 37.19971%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.text-5 {
  clear: both;
  width: 25.6249999999%;
  min-height: 45px;
  margin: 103px 0 0 37.1875%;
  text-align: center;
  color: rgb(0, 0, 0);
}

/*
 * Animation configurations ( duration and fill mode )
*/
.animated { 
 	-webkit-animation-name: bounceIn;
 	-webkit-animation-duration: 5s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-timing-function: ease-out;
 	-webkit-animation-fill-mode: forwards;
	
 	animation-name: bounceIn;
 	animation-duration: 5s;
 	animation-iteration-count: infinite;
 	animation-timing-function: ease-out;
 	animation-fill-mode: forwards;
} 

.animated-2 { 
 	-webkit-animation-name: bounceIn;
 	-webkit-animation-duration: 3s;
 	-webkit-animation-iteration-count: infinite;
 	-webkit-animation-timing-function: ease;
 	-webkit-animation-fill-mode: forwards;
	
 	animation-name: bounceIn;
 	animation-duration: 3s;
 	animation-iteration-count: infinite;
 	animation-timing-function: ease;
 	animation-fill-mode: forwards;
} 


/*
 * Pulse animation
*/
  
@-webkit-keyframes pulse { 
    0% { -webkit-transform: scale(1); } 
    50% { -webkit-transform: scale(1.5); } 
    100% { -webkit-transform: scale(1); } 
} 
@keyframes pulse { 
    0% { transform: scale(1); } 
    50% { transform: scale(1.5); } 
    100% { transform: scale(1); } 
} 
.pulse { 
    -webkit-animation-name: pulse; 
    animation-name: pulse; 
}
/*
 * Flash animation
*/
  
@-webkit-keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
@keyframes flash { 
    0%, 50%, 100% {opacity: 1;} 
    25%, 75% {opacity: 0;} 
} 
.flash { 
    -webkit-animation-name: flash; 
    animation-name: flash; 
}

._button-1 {
  position: absolute;
  top: 585px;
  left: 30.3995768229%;
  z-index: 5;
  width: 3.4895833333%;
  height: 67px;
  border-radius: 50%;
  background-color: rgb(217, 52, 82);
  font-size: 2.25em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

._button-2 {
  position: absolute;
  top: 682px;
  left: 66.1083984375%;
  z-index: 4;
  width: 3.4895833333%;
  height: 67px;
  border-radius: 80px;
  background-color: rgb(217, 52, 82);
  font-size: 2.25em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

._button-3 {
  position: absolute;
  top: 865px;
  left: 52.509765625%;
  z-index: 3;
  width: 3.4895833333%;
  height: 67px;
  border-radius: 80px;
  background-color: rgb(217, 52, 82);
  font-size: 2.25em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

._button-4 {
  position: absolute;
  top: 473px;
  left: 57.598470052%;
  z-index: 2;
  width: 3.4895833333%;
  height: 67px;
  border-radius: 80px;
  background-color: rgb(217, 52, 82);
  font-size: 2.25em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

._button-5 {
  position: absolute;
  top: 311px;
  left: 37.1997070312%;
  z-index: 1;
  width: 3.4895833333%;
  height: 67px;
  border-radius: 80px;
  background-color: rgb(217, 52, 82);
  font-size: 2.25em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

._button-1:hover,
._button-2:hover,
._button-3:hover,
._button-4:hover,
._button-5:hover {
  background-color: #FF1919;
  -webkit-animation: none;
}

._button-6 {
  position: relative;
  float: left;
  z-index: 9;
  width: 5.2%;
  height: 94px;
  margin: 65px 0 0 37.19971%;
  border-radius: 15px;
  background-color: rgb(47, 139, 198);
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

._button-7 {
  position: relative;
  float: left;
  z-index: 10;
  width: 5.1993815104%;
  height: 94px;
  margin: 65px 0 0 1.5918%;
  border-radius: 15px;
  background-color: rgb(47, 139, 198);
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

._button-8 {
  position: relative;
  float: left;
  z-index: 11;
  width: 5.1993815104%;
  height: 94px;
  margin: 65px 0 0 1.5918%;
  border-radius: 15px;
  background-color: rgb(47, 139, 198);
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

._button-9 {
  position: relative;
  float: left;
  z-index: 12;
  width: 5.1993815104%;
  height: 94px;
  margin: 65px 0 0 1.5918%;
  border-radius: 15px;
  background-color: rgb(47, 139, 198);
  font-size: 1em;
  font-weight: 400;
  color: #fff;
}

._button-6:hover,
._button-7:hover,
._button-8:hover,
._button-9:hover {
background-color: #196394;
  
}

.text em {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: Lato;
  font-style: normal;
  font-size: 0.875em;
  font-weight: 300;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  color: rgb(255, 255, 255);
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text span {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text strong {
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-color: transparent;
  border-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: transparent;
  font-family: inherit;
  text-transform: inherit;
  text-decoration: inherit;
  letter-spacing: inherit;
  word-spacing: inherit;
  opacity: 1;
  word-break: normal;
  word-wrap: normal;
  white-space: normal;
}

.text-1 strong {
  font-style: normal;
  font-size: 3em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text-2 strong {
  font-style: inherit;
  font-size: 2.25em;
  font-weight: inherit;
  color: rgb(255, 255, 255);
}

.text-3 span {
  font-family: inherit;
  font-style: inherit;
  font-size: 2.25em;
  font-weight: inherit;
  color: rgb(255, 255, 255);
}

.text-4 span {
  font-family: Lato;
  font-style: normal;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
}

.text-5 span {
  font-family: inherit;
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: rgb(255, 255, 255);
}

.text-5 strong {
  font-style: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

@media(max-width: 1600px) {
  .image {
    left: 15.6874999999%;
    width: 1189px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    width: 46.3194444444%;
    margin-left: 35.08594%;
  }

  .text-2 {
    width: 54.3749999999%;
    margin-left: 22.8125%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    width: 39.25%;
    margin-top: 195px;
    margin-left: 30.39844%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    margin-top: -112px;
    margin-left: 37.1992199999%;
  }

  .text-5 {
    width: 45.8333333333%;
    margin-top: 126px;
    margin-left: 27.07813%;
  }
	
	

  ._button-1 {
    top: 544px;
    left: 29.6%;
    width: 3%;
    height: 47px;
  }

  ._button-2 {
    top: 628px;
    left: 69.6%;
    width: 3%;
    height: 47px;
  }

  ._button-3 {
    top: 798px;
    left: 55.9999999999%;
    width: 3%;
    height: 47px;
  }

  ._button-4 {
    top: 460px;
    left: 57.625%;
    width: 3%;
    height: 47px;
  }

  ._button-5 {
    left: 37.5625%;
    width: 3.1875%;
    width: 3%;
    height: 47px;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    width: 5.1875%;
    height: 80px;
    margin-top: 71px;
    margin-left: 37.1875%;
    border-radius: 6px;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.1875%;
    height: 80px;
    margin-top: 71px;
    margin-left: 1.625%;
    border-radius: 6px;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.1875%;
    height: 80px;
    margin-top: 71px;
    margin-left: 1.5625%;
    border-radius: 6px;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.1875%;
    height: 80px;
    margin-top: 71px;
    margin-left: 1.625%;
    border-radius: 6px;
  }
}

@media(max-width: 1440px) {
  body {
    font-size: 1em;
  }

  .image {
    top: 127px;
    left: 10%;
    width: 1152px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    width: 52.7777777777%;
    margin-top: 48px;
    margin-left: 23.59918%;
    text-align: center;
  }

  .text-2 {
    width: 66.3982430453%;
    margin-top: 915px;
    margin-left: 16.79905%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    margin-top: 103px;
    margin-left: 30.39931%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    width: 28.7499999999%;
    margin-left: 35.59896%;
  }

  .text-5 {
    margin-left: 27.0714%;
  }

  ._button-1 {
    top: 557px;
    left: 23.5999999999%;
    width: 3.4722222222%;
    height: 49px;
  }

  ._button-2 {
    top: 622px;
    left: 66.9270833333%;
    width: 3.4722222222%;
    height: 48px;
  }

  ._button-3 {
    top: 776px;
    left: 54.1277777777%;
    width: 3.4722222222%;
    height: 50px;
  }

  ._button-4 {
    top: 473px;
    left: 57.5694444444%;
    width: 3.4722222222%;
    height: 50px;
  }

  ._button-5 {
    left: 37.2222222222%;
    width: 3.4722222222%;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    width: 5.2083333333%;
    height: 81px;
    margin-top: 31px;
    margin-left: 37.22222%;
    border-radius: 9px;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.2083333333%;
    height: 81px;
    margin-top: 31px;
    margin-left: 1.52778%;
    border-radius: 9px;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.2083333333%;
    height: 81px;
    margin-top: 31px;
    margin-left: 1.5961399999%;
    border-radius: 9px;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.2083333333%;
    height: 81px;
    margin-top: 31px;
    margin-left: 1.52778%;
    border-radius: 9px;
  }
}

@media(max-width: 1366px) {
  .image {
    top: 108px;
    width: 1092px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    width: 44.9487554904%;
    margin-top: 42px;
    margin-left: 31.44903%;
  }

  .text-2 {
    margin-top: 877px;
    margin-left: 16.79745%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    margin-top: 122px;
    margin-left: 30.39898%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    width: 39.2386530014%;
    margin-top: -132px;
    margin-left: 30.39898%;
  }

  .text-5 {
    width: 39.2386530014%;
    margin-top: 229px;
    margin-left: 30.39898%;
  }

  ._button-1 {
    top: 504px;
    left: 26.0860907759%;
    width: 3.513909224%;
    height: 46px;
    font-size: 1.5em;
  }

  ._button-2 {
    top: 573px;
    left: 67.6860907759%;
    width: 3.513909224%;
    border-radius: 200px;
    font-size: 2em;
  }

  ._button-3 {
    top: 736px;
    left: 53.2860907759%;
    width: 3.513909224%;
    height: 46px;
    font-size: 2em;
  }

  ._button-4 {
    top: 403px;
    left: 57.6%;
    width: 3.513909224%;
    height: 46px;
    font-size: 2em;
  }

  ._button-5 {
    width: 3.513909224%;
    height: 45px;
    font-size: 2em;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    width: 5.1976573938%;
    height: 71px;
    margin-top: 67px;
    margin-left: 37.18773%;
    border-radius: 6px;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.1976573938%;
    height: 71px;
    margin-top: 67px;
    margin-left: 1.6151199999%;
    border-radius: 6px;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.1976573938%;
    height: 71px;
    margin-top: 67px;
    margin-left: 1.53734%;
    border-radius: 6px;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.1976573938%;
    height: 71px;
    margin-top: 67px;
    margin-left: 1.6094%;
    border-radius: 6px;
  }

  .text-1 strong {
    font-size: 2.25em;
  }

  .text-2 strong {
    font-size: 1.5em;
  }
}

@media(max-width: 1200px) {
  body {
    font-size: 1em;
  }

  .image {
    top: 188px;
    width: 960px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    width: 52.8333333333%;
    margin-top: 33px;
    margin-left: 23.59896%;
  }

  .text-2 {
    width: 80%;
    margin-top: 827px;
    margin-left: 10%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    margin-top: 100px;
    margin-left: 30.41667%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    margin-top: -108px;
    margin-left: 31.16146%;
  }

  .text-5 {
    width: 39.0833333333%;
    margin-top: 110px;
    margin-left: 30.41667%;
  }

  ._button-1 {
    top: 559px;
    left: 23.6%;
    width: 3.5%;
    height: 41px;
    font-size: 1.875em;
  }

  ._button-2 {
    top: 592px;
    left: 67.7%;
    width: 3.5%;
    height: 41px;
    font-size: 1.875em;
  }

  ._button-3 {
    top: 733px;
    left: 53.3%;
    width: 3.5%;
    height: 45px;
    font-size: 1.875em;
  }

  ._button-4 {
    top: 442px;
    width: 3.5%;
    height: 41px;
    font-size: 1.875em;
  }

  ._button-5 {
    top: 310px;
    left: 37.1666666666%;
    width: 3.5%;
    height: 40px;
    font-size: 1.875em;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    width: 5.25%;
    height: 62px;
    margin-top: 36px;
    margin-left: 37.16667%;
    border-radius: 3px;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.1666666666%;
    height: 62px;
    margin-top: 36px;
    margin-left: 1.5%;
    border-radius: 3px;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.1666666666%;
    height: 62px;
    margin-top: 36px;
    margin-left: 1.66667%;
    border-radius: 3px;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.1666666666%;
    height: 62px;
    margin-top: 36px;
    margin-left: 1.74349%;
    border-radius: 3px;
  }

  .text-1 strong {
    font-size: 2em;
  }

  .text-5 strong {
    color: rgb(255, 255, 255);
  }
}

@media(max-width: 1080px) {
  .image {
    width: 864px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    margin-left: 23.5951999999%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    margin-left: 31.1603%;
  }

  .text-5 {
    margin-top: 112px;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    width: 5.2777777777%;
    height: 60px;
    margin-left: 37.12963%;
    border-radius: 1px;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.1851851851%;
    height: 60px;
    margin-left: 1.47859%;
    border-radius: 1px;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.1851851851%;
    height: 60px;
    margin-left: 1.57263%;
    border-radius: 1px;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.1851851851%;
    height: 60px;
    margin-left: 1.57263%;
    border-radius: 1px;
  }
}

@media(max-width: 768px) {
  body {
    font-size: 1em;
  }

  .image {
    width: 614px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    width: 79.9479166666%;
    margin-top: 42px;
    margin-left: 10.02401%;
  }

  .text-2 {
    position: relative;
    z-index: 7;
    width: 79.9479166666%;
    margin-top: 480px;
    margin-left: 10.02401%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    margin-top: 90px;
    margin-left: 24.941%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    width: 52.9947916666%;
    margin-top: -103px;
    margin-left: 23.59823%;
  }

  .text-5 {
    width: 45.8333333333%;
    margin-top: 84px;
    margin-left: 26.72323%;
  }

  ._button-1 {
    top: 409px;
    left: 22.8%;
    width: 4.6875%;
    height: 38px;
    border-radius: 139px;
    font-size: 1.5em;
  }

  ._button-2 {
    top: 418px;
    left: 68.2596842447%;
    width: 4.296875%;
    height: 37px;
    font-size: 1.5em;
  }

  ._button-3 {
    top: 523px;
    left: 50.8768717447%;
    width: 5.2083333333%;
    height: 39px;
    font-size: 1.5em;
  }

  ._button-4 {
    top: 335px;
    left: 56.8%;
    width: 4.4270833333%;
    height: 35px;
    font-size: 1.5em;
  }

  ._button-5 {
    top: 282px;
    left: 36.4%;
    width: 4.5572916666%;
    height: 36px;
    font-size: 1.5em;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    margin-top: 35px;
    margin-left: 37.26807%;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.2083333333%;
    margin-top: 35px;
    margin-left: 1.56047%;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.2083333333%;
    margin-top: 35px;
    margin-left: 1.5625%;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.2083333333%;
    margin-top: 35px;
    margin-left: 1.5625%;
  }
}

@media(max-width: 640px) {
  .image {
    width: 512px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
    width: 80%;
    margin-top: 64px;
    margin-left: 10%;
  }

  .text-2 {
    position: relative;
    z-index: 7;
    width: 80%;
    margin-top: 448px;
    margin-left: 10%;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    margin-top: 50px;
    margin-left: 19.05518%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    margin-top: -132px;
    margin-left: 23.59375%;
  }

  .text-5 {
    width: 80%;
    margin-top: 78px;
    margin-left: 10%;
  }

  ._button-1 {
    top: 373px;
    left: 23.5986328125%;
    height: 30px;
    font-size: 0.875em;
  }

  ._button-2 {
    top: 403px;
    left: 68.1762695312%;
    width: 4.375%;
    height: 30px;
    font-size: 0.875em;
  }

  ._button-3 {
    top: 483px;
    left: 52.5805664062%;
    width: 4.21875%;
    height: 29px;
    font-size: 0.875em;
  }

  ._button-4 {
    top: 311px;
    left: 56.1083984374%;
    width: 4.375%;
    height: 28px;
    font-size: 0.875em;
  }

  ._button-5 {
    top: 251px;
    left: 36.3989257812%;
    width: 3.5937499999%;
    height: 26px;
    font-size: 0.875em;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    width: 5.3125%;
    height: 37px;
    margin-top: 26px;
    margin-left: 37.1875%;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    width: 5.15625%;
    height: 37px;
    margin-top: 26px;
    margin-left: 1.71875%;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    width: 5.15625%;
    height: 37px;
    margin-top: 26px;
    margin-left: 1.71875%;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    width: 5.15625%;
    height: 37px;
    margin-top: 26px;
    margin-left: 1.71875%;
  }

  .text em {
    font-size: 0.625em;
  }

  .text-1 strong {
    font-size: 1.125em;
  }

  .text-2 strong {
    font-size: 0.75em;
  }
}

@media(max-width: 480px) {
  body {
    font-size: 1em;
  }

  .image {
    width: 384px;
    height: auto;
  }

  .text-1 {
    position: relative;
    z-index: 6;
  }

  .text-2 {
    position: relative;
    z-index: 7;
    margin-top: 381px;
  }

  .text-3 {
    position: relative;
    z-index: 14;
    width: 80.2083333333%;
    margin-top: 133px;
    margin-left: 9.79167%;
  }

  .text-4 {
    position: relative;
    z-index: 8;
    margin-left: 23.59701%;
  }

  .text-5 {
    margin-top: 33px;
  }

  ._button-1 {
    top: 322px;
    left: 23.6%;
  }

  ._button-2 {
    top: 352px;
    left: 67.9654947916%;
  }

  ._button-3 {
    top: 403px;
    left: 52.0312499999%;
  }

  ._button-6 {
    position: relative;
    z-index: 9;
    margin-top: 10px;
  }

  ._button-7 {
    position: relative;
    z-index: 10;
    margin-top: 10px;
  }

  ._button-8 {
    position: relative;
    z-index: 11;
    margin-top: 10px;
  }

  ._button-9 {
    position: relative;
    z-index: 12;
    margin-top: 10px;
  }

  .text-3 span {
    font-size: 1.75em;
  }
}